@import url(https://fonts.googleapis.com/css?family=VT323);

body, input {
  font-family: 'VT323', Arial, Helvetica, sans-serif;;
  font-size: 24px;
  -webkit-font-smoothing: none;
  line-height: 1.2;
  text-shadow: 0 0 5px #C8C8C8;
  background: #020202;
}

#terminal-wrapper {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    border: none; 
    height: 95dvh;
    overflow-y: auto;
}

#terminal {
    margin:0 auto;
    margin-bottom: 10px;
    width: 100%;
    overflow:auto;
    white-space: pre; /* Preserve whitespace */
}

#prompt {
    display: flex;
    align-items: center;
    position: relative; /* Add relative positioning to parent */
}

#command-input {
    background: none;
    border: none;
    font-size: 24px; /* Adjust font size as needed */
    width: 100%; /* Set width to 100% to make it full-width */
    outline: none;
    position: relative; /* Use relative positioning */
    margin-left: 2px; /* Add margin for spacing */
}

